body {
  display: flex;
  justify-content: center;
  background-color: rgb(215, 179, 136);
}

.App {
  display: block;
  justify-content: center;
}

.grid-div {
  display: grid;
  grid-template-columns: repeat(5, 75px);
  grid-template-rows: repeat(5, 75px);
  gap: 1px;
}

.title-div h1 {
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.scoreboard-div h1 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.bombcheck-div {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.timer-div h3 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.startgame-div {
  text-align: center;
}

.ihategrids {
  display: flex;
  justify-content: center;
}
